@import url("https://tw.portal-pokemon.com/play/resources/pokedex/img/pm/2fd12098f15628cce80d411e090189aeb7d758ff.png");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f6f7f8;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}

/*共用按鈕樣式*/
.action {
  color: white;
  background: #39bae6;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
}

.action:hover {
  background: #267c99;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Main Header*/
header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 999;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.nav {
  position: absolute;
  top: 100%;
  background: #ffffff;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-out;
}

.navbar-toggle {
  position: absolute;
  visibility: hidden;
}

.navbar-toggle:checked ~ .nav {
  transform: scale(1, 1);
}

.navbar-toggle:checked ~ .nav .nav-item {
  /*只有開啟時 delay .15s */
  transition: opacity 0.2s ease-out 0.15s;
  /*開啟時透明度為1*/
  opacity: 1;
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7.5%;
  display: flex;
  align-items: center;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background: #267b98;
  margin: 0.2rem 0;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  content: "";
  left: 0;
}

.hamburger::before {
  top: 8px;
}

.hamburger::after {
  bottom: 8px;
}

.navbar-brand {
  color: #267b98;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px;
}

.nav-item {
  margin: 1.4rem 0;
  /*預設透明度 0*/  
  opacity: 0;
}

.nav-link {
  color: #267b98;
}

/*Activity*/
.banner-wrapper {
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-gap: 0.5rem;
  grid-template-areas:
    "main main main main"
    "left left right right";
}

.banner-title {
  margin-bottom: 0.4rem;
}

.banner-description {
  margin-bottom: 1rem;
}

.main-banner {
  grid-area: main;
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;  
  background-image: url("https://tw.portal-pokemon.com/img/language/tc/korekarahajimeru_tc.png");
   -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.main-banner .banner-title {
  font-size: 2rem;
  color: #1a5366;
}

.main-banner .banner-description {
  font-size: 1rem;
  font-weight: 600;
  color: #267b98;
}

.sub-banner .action {
  font-size: 1rem;
  padding: 0.25rem 1rem;
}

.sub-banner .banner-title,
.sub-banner .banner-description {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.sub-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 1rem;
  background-position: right top;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.sub-banner-left {
  grid-area: left;
  background-image: url("https://tw.portal-pokemon.com/assets_c/2022/10/8b042b6259bf00fe9fbe356eab4d56989e171613-thumb-624xauto-18415.jpg");
  background-position: center;
}

.sub-banner-right {
  grid-area: right;
  background-image: url("https://tw.portal-pokemon.com/assets_c/2022/11/5f13fe9bd1081aa97c315e7ddce2409ab92ef870-thumb-624xauto-18534.jpg");
  background-position: center;
}

@media screen and (min-width: 768px) {
/*   .action {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  } */

  /*Main Header*/
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .navbar-toggle-label {
    display: none;
  }

  .navbar-brand {
    grid-column: 2 / 3;
  }

  .nav {
    all: unset;
    grid-column: 3 / 4;
  }

  .nav-list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    grid-gap: 2rem;
  }

  .nav-item {
    margin: 0;
    opacity: 1;
  }

  /*Activity*/
  .banner-wrapper {
    grid-gap: 1.5rem;
    grid-template-areas:
      "main main main left"
      "main main main right";
  }

  .main-banner {
    align-items: flex-start;
    justify-content: center;
  }

  .main-banner .banner-title {
    font-size: 4rem;
  }

  .main-banner .banner-description {
    font-size: 2rem;
  }

  .sub-banner .banner-title {
    text-align: center;
    font-size: 2rem;
  }

  .sub-banner .action {
    font-size: 1.2rem;
  }
}
